@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.logo_name {
  font-family: "Ubuntu";
  font-style: italic;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  color: #fb3f6c;
}

.letstalk_button {
  background-color: transparent;
  border: 1px solid rgba(137, 77, 234, 0.5);
  border-radius: 80px;
  width: 143px;
  height: 55px;
  padding: 13px 24px;
  transition: all 300ms;
  font-family: "Ubuntu";
  text-transform: capitalize;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #282c4b;
}

.getstart {
  background: linear-gradient(97.32deg, #ff698d -3.47%, #fb3f6c 108.43%);
  border: 2px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0px 30px 50px rgba(168, 22, 75, 0.15);
  border-radius: 192px;
  width: 210px;
  height: 68px;
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-transform: capitalize;
}

.banner1 {
  background: linear-gradient(
    180deg,
    rgba(246, 215, 228, 0.2) -48.97%,
    rgba(246, 215, 228, 0) 92.37%
  );
}

.project {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #f17216;
  text-transform: uppercase;
}

.learnmore {
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  text-transform: capitalize;
}

.learnmore:focus {
  transform: scale(1.1);
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.dactive {
  font-family: "Poppins";
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #dcdcdc;
  margin: auto;
}

.work {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: 0.02em;
  color: #282c4b;
}

.seemore {
  border-radius: 80px;
  padding: 13px 24px;
  width: 143px;
  height: 55px;
  transition: all 300ms;
  font-family: "Ubuntu";
  text-transform: capitalize;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #282c4b;
  border: 1px solid rgba(255, 105, 141, 0.5);
}

.letstalk_button:hover,
.seemore:hover {
  color: #fff;
  background-color: #fb3f6c;
  border-color: #fb3f6c;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}
